/* nav {
  position: sticky;
  top: 0;
  background-color: rgb(var(--red-dark));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .logoDiv {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 60px;
      width: auto;
    }

    h3 {
      color: rgb(var(--white));
    }
  }

  .actionBtns {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;

    button {
      background-color: rgb(var(--red));
      color: rgb(var(--white));
      border: none;
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgb(var(--red-light));
      }
    }
  }
} */

.hero {
  background: linear-gradient(rgb(var(--red-dark)) 60%, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: min(80vh, 720px);

  padding-top: 4rem;

  h1 {
    color: rgb(var(--white));
    margin-bottom: 2rem;
  }

  .searchBar {
    background: rgba(var(--red-pale), 0.2);
    padding: 5px;
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 72px;

    input[type="text"] {
      width: min(800px, 90vw);
      font-size: 1rem;
      padding: 0.75em 0.5em;
      padding-left: 2.5rem;

      border-radius: calc(var(--border-radius) - 5px);
      border: none;
      outline: none;
    }

    p {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 5px;
      color: rgb(var(--cream));

      span {
        background: rgb(var(--cream));
        color: rgb(var(--dark-gray));
        padding: 0 10px;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
      }
    }

    .icon-search {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(var(--dark-gray));
      z-index: 1;
    }
  }

  .popular-articles {
    --border-radius: 1em;

    display: flex;
    flex-direction: column;
    overflow-x: auto;
    background: rgb(var(--white));

    width: min(800px, 90vw);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    h6 {
      border-bottom: solid 1px var(--red-maroon);
      padding: 5px;
      background: rgb(var(--red-pale));
      color: rgb(var(--white));
    }

    .articles {
      text-align: left;

      a.article {
        color: rgb(var(--dark-gray));
        border-top: solid 1px rgb(var(--red-maroon));
        border-bottom: solid 1px rgb(var(--red-maroon));
        display: block;
        padding: 0.5rem 1rem;
        border-bottom: solid 1px rgb(var(--red-pale));
        transition: all 0.3s ease;
        text-decoration: none;
      }

      a.article:hover {
        background: rgba(228, 32, 29, 0.096);
      }
    }
  }
}
